[data-tag-name="h1"],
[data-tag-name="h2"],
[data-tag-name="h3"],
[data-tag-name="h4"],
[data-tag-name="h5"],
[data-tag-name="h6"],
[data-tag-name="html"],
[data-tag-name="head"],
[data-tag-name="title"],
[data-tag-name="body"],
[data-tag-name="header"],
[data-tag-name="nav"],
[data-tag-name="main"],
[data-tag-name="article"],
[data-tag-name="aside"],
[data-tag-name="footer"],
[data-tag-name="strong"],
[data-tag-name="em"],
[data-tag-name="b"],
[data-tag-name="th"],
[data-tag-name="dt"],
[data-tag-name="section"]{font-weight: bold;}
/* .CodeMirror span{font-family: Consolas, SourceCodePro-Medium, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', monospace;} */
[data-tag-name="a"]{color: #00FF36 !important;}
[data-tag-name="address"]{color: #ee6 !important;}
[data-tag-name="article"]{color: #fc0 !important;}
[data-tag-name="aside"]{color: #dcb !important;}
[data-tag-name="audio"]{color: #ced !important;}
[data-tag-name="b"]{color: #eaf !important;}
[data-tag-name="body"]{color: #A9FFB3 !important;}
[data-tag-name="br"]{color: #FCDFB5 !important;}
[data-tag-name="button"]{color: #fbb !important;}
[data-tag-name="canvas"]{color: #6cf !important;}
[data-tag-name="caption"]{color: #fd9 !important;}
[data-tag-name="code"]{color: #ADDA04 !important;}
[data-tag-name="dd"]{color: #dd9 !important;}
[data-tag-name="dfn"]{color: #bfa !important;}
[data-tag-name="div"]{color: #BAD7DC !important;}
[data-tag-name="dl"]{color: #6cf !important;}
[data-tag-name="dt"]{color: #9df !important;}
[data-tag-name="em"]{color: #e6f !important;}
[data-tag-name="fieldset"]{color: #fce !important;}
[data-tag-name="figcaption"]{color: #aaf !important;}
[data-tag-name="figure"]{color: #ced !important;}
[data-tag-name="footer"]{color: #FFE400 !important;}
[data-tag-name="h1"]{color: #FF6161 !important;}
[data-tag-name="h2"]{color: #FF66cc !important;}
[data-tag-name="h3"]{color: #E7E578 !important;}
[data-tag-name="h4"]{color: #A3FF99 !important;}
[data-tag-name="h5"]{color: #0cf !important;}
[data-tag-name="h6"]{color: #B878FF !important;}
[data-tag-name="head"]{color: #dda !important;}
[data-tag-name="header"]{color: #faa !important;}
[data-tag-name="hgroup"]{color: #fac !important;}
[data-tag-name="hr"]{color: #efc !important;}
[data-tag-name="ht"]{color: #7cf !important;}
[data-tag-name="html"]{color: #cac !important;}
[data-tag-name="img"]{color: #afc !important;}
[data-tag-name="input"]{color: #dcc !important;}
[data-tag-name="kbd"]{color: #9fc !important;}
[data-tag-name="legend"]{color: #afe !important;}
[data-tag-name="li"]{color: #E7DC9E !important;}
[data-tag-name="link"]{color: #ad6 !important;}
[data-tag-name="main"]{color: #42FF00 !important;}
[data-tag-name="mark"]{color: #efc !important;}
[data-tag-name="menu"]{color: #3bf !important;}
[data-tag-name="meta"]{color: #aff !important;}
[data-tag-name="nav"]{color: #00FFFF !important;}
[data-tag-name="ol"]{color: #9ac !important;}
[data-tag-name="optgroup"]{color: #eeb !important;}
[data-tag-name="option"]{color: #edd !important;}
[data-tag-name="p"]{color: #FFcc00 !important;}
[data-tag-name="pre"]{color: #FFB304 !important;}
[data-tag-name="rb"]{color: #dac !important;}
[data-tag-name="rp"]{color: #fdc !important;}
[data-tag-name="rt"]{color: #afb !important;}
[data-tag-name="ruby"]{color: #dea !important;}
[data-tag-name="samp"]{color: #fe3 !important;}
[data-tag-name="script"]{color: #A5CDD3 !important;}
[data-tag-name="section"]{color: #FFccdd !important;}
[data-tag-name="select"]{color: #cff !important;}
[data-tag-name="small"]{color: #aaf !important;}
[data-tag-name="span"]{color: #BBF6FF !important;}
[data-tag-name="strong"]{color: #fc9 !important;}
[data-tag-name="sub"]{color: #add !important;}
[data-tag-name="summary"]{color: #fc0 !important;}
[data-tag-name="sup"]{color: #cdf !important;}
[data-tag-name="svg"]{color: #6fd !important;}
[data-tag-name="table"]{color: #ef9 !important;}
[data-tag-name="tbody"]{color: #fcb !important;}
[data-tag-name="td"]{color: #ff8 !important;}
[data-tag-name="textarea"]{color: #ed9 !important;}
[data-tag-name="th"]{color: #FF99F2 !important;}
[data-tag-name="thead"]{color: #88FFBA !important;}
[data-tag-name="title"]{color: #fcc !important;}
[data-tag-name="tr"]{color: #AAEEC4 !important;}
[data-tag-name="ul"]{color: #ff0 !important;}
[data-tag-name="video"]{color: #efc !important;}
