/*--- Dark ---*/
body.dark #editor-holder{
	background-color: #000;
	:not(.cm-meta):not(.cm-keyword):not(.cm-variable):not(.cm-comment){
		&.cm-jzmstrjp-tag-STYLE{color: #FFA200;}
		&.cm-jzmstrjp-tag-A{color: rgb(90, 255, 123);}
		&.cm-jzmstrjp-tag-ABBR{color: #FFF600;}
		&.cm-jzmstrjp-tag-ADDRESS{color: #EE6;}
		&.cm-jzmstrjp-tag-AREA{color: #00FF36;}
		&.cm-jzmstrjp-tag-ARTICLE{color: #FC0;}
		&.cm-jzmstrjp-tag-ASIDE{color: #DCB;}
		&.cm-jzmstrjp-tag-AUDIO{color: #CED;}
		&.cm-jzmstrjp-tag-B{color: #EAF;}
		&.cm-jzmstrjp-tag-BASE{color: #AEFF00;}
		&.cm-jzmstrjp-tag-BLOCKQUOTE,&.cm-jzmstrjp-tag-Q{color: #FFB7AD;}
		&.cm-jzmstrjp-tag-BODY{color: #A9FFB3;}
		&.cm-jzmstrjp-tag-BR{color: #FCDFB5;}
		&.cm-jzmstrjp-tag-BUTTON{color: #FBB;}
		&.cm-jzmstrjp-tag-CANVAS{color: #6CF;}
		&.cm-jzmstrjp-tag-CAPTION{color: #6DD;}
		&.cm-jzmstrjp-tag-CITE{color: #FF8888;}
		&.cm-jzmstrjp-tag-CODE{color: #ADDA04;}
		&.cm-jzmstrjp-tag-COL{color: #A4D5FF;}
		&.cm-jzmstrjp-tag-COLGROUP{color: #ACB5FF;}
		&.cm-jzmstrjp-tag-DD{color: #DD9;}
		&.cm-jzmstrjp-tag-DEL{color: #A8A8A8;}
		&.cm-jzmstrjp-tag-DFN{color: #BFA;}
		&.cm-jzmstrjp-tag-DIV{color: rgb(206, 228, 231);}
		&.cm-jzmstrjp-tag-DL{color: #E93;}
		&.cm-jzmstrjp-tag-DT{color: #9DF;}
		&.cm-jzmstrjp-tag-EM{color: #E6F;}
		&.cm-jzmstrjp-tag-FIELDSET{color: #FCE;}
		&.cm-jzmstrjp-tag-FIGCAPTION{color: #AAF;}
		&.cm-jzmstrjp-tag-FIGURE{color: #E6EECC;}
		&.cm-jzmstrjp-tag-FOOTER{color: #FFE400;}
		&.cm-jzmstrjp-tag-FORM{color: #00FFC6;}
		&.cm-jzmstrjp-tag-H1{color: rgb(255, 130, 130);}
		&.cm-jzmstrjp-tag-H2{color: rgb(255, 138, 216);}
		&.cm-jzmstrjp-tag-H3{color: #E7E578;}
		&.cm-jzmstrjp-tag-H4{color: #A3FF99;}
		&.cm-jzmstrjp-tag-H5{color: rgb(94, 223, 255);}
		&.cm-jzmstrjp-tag-H6{color: rgb(204, 160, 255);}
		&.cm-jzmstrjp-tag-HEAD{color: #DDA;}
		&.cm-jzmstrjp-tag-HEADER{color: #FAA;}
		&.cm-jzmstrjp-tag-HGROUP{color: #FAC;}
		&.cm-jzmstrjp-tag-HR{color: #EFC;}
		&.cm-jzmstrjp-tag-HTML{color: #CAC;}
		&.cm-jzmstrjp-tag-I{color: #FFFE80;}
		&.cm-jzmstrjp-tag-IFRAME{color: #FF80C2;}
		&.cm-jzmstrjp-tag-IMG{color: #48DFFF;}
		&.cm-jzmstrjp-tag-INPUT{color: #DCC;}
		&.cm-jzmstrjp-tag-INS{color: #FFCCF1;}
		&.cm-jzmstrjp-tag-KBD{color: #9FC;}
		&.cm-jzmstrjp-tag-LABEL{color: #FF7E00;}
		&.cm-jzmstrjp-tag-LEGEND{color: #AFE;}
		&.cm-jzmstrjp-tag-LI{color: #FBB;}
		&.cm-jzmstrjp-tag-LINK{color: rgb(156, 255, 131);}
		&.cm-jzmstrjp-tag-MAIN{color: #42FF00;}
		&.cm-jzmstrjp-tag-MAP{color: #FFF000;}
		&.cm-jzmstrjp-tag-MARK{color: #FCFF00;}
		&.cm-jzmstrjp-tag-MENU{color: #3BF;}
		&.cm-jzmstrjp-tag-META{color: #AFF;}
		&.cm-jzmstrjp-tag-NAV{color: #00FFFF;}
		&.cm-jzmstrjp-tag-NOSCRIPT{color: #FF7979;}
		&.cm-jzmstrjp-tag-OBJECT{color: #FF7E7E;}
		&.cm-jzmstrjp-tag-OL{color: #9AC;}
		&.cm-jzmstrjp-tag-OPTGROUP{color: #EEB;}
		&.cm-jzmstrjp-tag-OPTION{color: #EDD;}
		&.cm-jzmstrjp-tag-P{color: #FFCC00;}
		&.cm-jzmstrjp-tag-PRE{color: #FFB304;}
		&.cm-jzmstrjp-tag-RB{color: #DAC;}
		&.cm-jzmstrjp-tag-RP{color: #FDC;}
		&.cm-jzmstrjp-tag-RT{color: #AFB;}
		&.cm-jzmstrjp-tag-RUBY{color: #DEA;}
		&.cm-jzmstrjp-tag-S{color: #BBB3D7;}
		&.cm-jzmstrjp-tag-SAMP{color: #FE3;}
		&.cm-jzmstrjp-tag-SCRIPT{color: rgb(66, 224, 255);}
		&.cm-jzmstrjp-tag-SECTION{color: #FFCCDD;}
		&.cm-jzmstrjp-tag-SELECT{color: #CFF;}
		&.cm-jzmstrjp-tag-SMALL{color: #AAF;}
		&.cm-jzmstrjp-tag-SPAN{color: #BBF6FF;}
		&.cm-jzmstrjp-tag-STRONG{color: #FC9;}
		
		&.cm-jzmstrjp-tag-SUB{color: #ADD;}
		&.cm-jzmstrjp-tag-SUMMARY{color: #FC0;}
		&.cm-jzmstrjp-tag-SUP{color: #CDF;}
		&.cm-jzmstrjp-tag-SVG{color: #6FD;}
		&.cm-jzmstrjp-tag-TABLE{color: #EF9;}
		&.cm-jzmstrjp-tag-TBODY{color: #FCB;}
		&.cm-jzmstrjp-tag-TD{color: #FF8;}
		&.cm-jzmstrjp-tag-TEXTAREA{color: #ED9;}
		&.cm-jzmstrjp-tag-TFOOT{color: rgb(35, 226, 255);}
		&.cm-jzmstrjp-tag-TH{color: #FF99F2;}
		&.cm-jzmstrjp-tag-THEAD{color: #F88;}
		&.cm-jzmstrjp-tag-TIME{color: #9EFF6F;}
		&.cm-jzmstrjp-tag-TITLE{color: #FCC;}
		&.cm-jzmstrjp-tag-TR{color: #AAEEC4;}
		&.cm-jzmstrjp-tag-UL{color: #FFA;}
		&.cm-jzmstrjp-tag-VIDEO{color: #EFC;}
		&.cm-jzmstrjp-tag-WBR{color: #FCDFB5;}
	}
}







/*--- Light ---*/
body:not(.dark) #editor-holder{
	:not(.cm-meta):not(.cm-keyword):not(.cm-variable):not(.cm-comment){
		&.cm-jzmstrjp-tag-STYLE{color: #DA8500;}
		&.cm-jzmstrjp-tag-A{color: #00E724;}
		&.cm-jzmstrjp-tag-ABBR{color: #B5AF00;}
		&.cm-jzmstrjp-tag-ADDRESS{color: #DFDF00;}
		&.cm-jzmstrjp-tag-AREA{color: #94BE00;}
		&.cm-jzmstrjp-tag-ARTICLE{color: #DE8F00;}
		&.cm-jzmstrjp-tag-ASIDE{color: #D26900;}
		&.cm-jzmstrjp-tag-AUDIO{color: #00C494;}
		&.cm-jzmstrjp-tag-B{color: #9800C4;}
		&.cm-jzmstrjp-tag-BASE{color: #6DA000;}
		&.cm-jzmstrjp-tag-BLOCKQUOTE,&.cm-jzmstrjp-tag-Q{color: #48A000;}
		&.cm-jzmstrjp-tag-BODY{color: #00C859;}
		&.cm-jzmstrjp-tag-BR{color: #CE7900;}
		&.cm-jzmstrjp-tag-BUTTON{color: #D50000;}
		&.cm-jzmstrjp-tag-CANVAS{color: #008CD2;}
		&.cm-jzmstrjp-tag-CAPTION{color: #00C1C1;}
		&.cm-jzmstrjp-tag-CITE{color: #009566;}
		&.cm-jzmstrjp-tag-CODE{color: #9DC700;}
		&.cm-jzmstrjp-tag-COL{color: #3B74A5;}
		&.cm-jzmstrjp-tag-COLGROUP{color: #4853AA;}
		&.cm-jzmstrjp-tag-DD{color: #C7C700;}
		&.cm-jzmstrjp-tag-DEL{color: #6F6F6F;}
		&.cm-jzmstrjp-tag-DFN{color: #27C800;}
		&.cm-jzmstrjp-tag-DIV{color: #00A4C0;}
		&.cm-jzmstrjp-tag-DL{color: #DA7700;}
		&.cm-jzmstrjp-tag-DT{color: #008FD6;}
		&.cm-jzmstrjp-tag-EM{color: #BA00D1;}
		&.cm-jzmstrjp-tag-FIELDSET{color: #D4008C;}
		&.cm-jzmstrjp-tag-FIGCAPTION{color: #0000E0;}
		&.cm-jzmstrjp-tag-FIGURE{color: #00C363;}
		&.cm-jzmstrjp-tag-FOOTER{color: #C1AD00;}
		&.cm-jzmstrjp-tag-FORM{color: #00BB91;}
		&.cm-jzmstrjp-tag-H1{color: #FF0000;}
		&.cm-jzmstrjp-tag-H2{color: #FF00AA;}
		&.cm-jzmstrjp-tag-H3{color: #FF6C00;}
		&.cm-jzmstrjp-tag-H4{color: #18D802;}
		&.cm-jzmstrjp-tag-H5{color: #00C6F7;}
		&.cm-jzmstrjp-tag-H6{color: #7900FF;}
		&.cm-jzmstrjp-tag-HEAD{color: #D9D900;}
		&.cm-jzmstrjp-tag-HEADER{color: #FF5400;}
		&.cm-jzmstrjp-tag-HGROUP{color: #E2005B;}
		&.cm-jzmstrjp-tag-HR{color: #91D900;}
		&.cm-jzmstrjp-tag-HTML{color: #DC00DC;}
		&.cm-jzmstrjp-tag-I{color: #D0D200;}
		&.cm-jzmstrjp-tag-IFRAME{color: #DA0071;}
		&.cm-jzmstrjp-tag-IMG{color: #00B3D2;}
		&.cm-jzmstrjp-tag-INPUT{color: #CE0000;}
		&.cm-jzmstrjp-tag-INS{color: #E500A6;}
		&.cm-jzmstrjp-tag-KBD{color: #00D66B;}
		&.cm-jzmstrjp-tag-LABEL{color: #E47100;}
		&.cm-jzmstrjp-tag-LEGEND{color: #00D8AC;}
		&.cm-jzmstrjp-tag-LI{color: #DE0000;}
		&.cm-jzmstrjp-tag-LINK{color: #79D400;}
		&.cm-jzmstrjp-tag-MAIN{color: #35CE00;}
		&.cm-jzmstrjp-tag-MAP{color: #D3C700;}
		&.cm-jzmstrjp-tag-MARK{color: #8ED500;}
		&.cm-jzmstrjp-tag-MENU{color: #008DD2;}
		&.cm-jzmstrjp-tag-META{color: #00CDCD;}
		&.cm-jzmstrjp-tag-NAV{color: #00C6C6;}
		&.cm-jzmstrjp-tag-NOSCRIPT{color: #51CB00;}
		&.cm-jzmstrjp-tag-OBJECT{color: #B83C3C;}
		&.cm-jzmstrjp-tag-OL{color: #0055FF;}
		&.cm-jzmstrjp-tag-OPTGROUP{color: #D3D300;}
		&.cm-jzmstrjp-tag-OPTION{color: #73CD00;}
		&.cm-jzmstrjp-tag-P{color: #F49000;}
		&.cm-jzmstrjp-tag-PRE{color: #E19D00;}
		&.cm-jzmstrjp-tag-RB{color: #D60090;}
		&.cm-jzmstrjp-tag-RP{color: #D14600;}
		&.cm-jzmstrjp-tag-RT{color: #00CA28;}
		&.cm-jzmstrjp-tag-RUBY{color: #A8DF00;}
		&.cm-jzmstrjp-tag-S{color: #594A8C;}
		&.cm-jzmstrjp-tag-SAMP{color: #D7C600;}
		&.cm-jzmstrjp-tag-SCRIPT{color: #00B0CA;}
		&.cm-jzmstrjp-tag-SECTION{color: #FF4E89;}
		&.cm-jzmstrjp-tag-SELECT{color: #00E4E4;}
		&.cm-jzmstrjp-tag-SMALL{color: #0000FF;}
		&.cm-jzmstrjp-tag-SPAN{color: #00CDEE;}
		&.cm-jzmstrjp-tag-STRONG{color: #FF8000;}
		
		&.cm-jzmstrjp-tag-SUB{color: #00C7C7;}
		&.cm-jzmstrjp-tag-SUMMARY{color: #D3AA00;}
		&.cm-jzmstrjp-tag-SUP{color: #0053FF;}
		&.cm-jzmstrjp-tag-SVG{color: #00DAAA;}
		&.cm-jzmstrjp-tag-TABLE{color: #A3C300;}
		&.cm-jzmstrjp-tag-TBODY{color: #59D200;}
		&.cm-jzmstrjp-tag-TD{color: #8DC800;}
		&.cm-jzmstrjp-tag-TEXTAREA{color: #D6AB00;}
		&.cm-jzmstrjp-tag-TFOOT{color: #12C9E7;}
		&.cm-jzmstrjp-tag-TH{color: #E0AE00;}
		&.cm-jzmstrjp-tag-THEAD{color: #EC1C00;}
		&.cm-jzmstrjp-tag-TIME{color: #79BE00;}
		&.cm-jzmstrjp-tag-TITLE{color: #FF8400;}
		&.cm-jzmstrjp-tag-TR{color: #A94FA8;}
		&.cm-jzmstrjp-tag-UL{color: #B5B500;}
		&.cm-jzmstrjp-tag-VIDEO{color: #8DD300;}
		&.cm-jzmstrjp-tag-WBR{color: #CE7900;}
	}
}






/* common */
body #editor-holder{
	:not(.cm-meta):not(.cm-keyword):not(.cm-variable):not(.cm-comment):not(.cm-attribute){
		&.cm-jzmstrjp-tag-H1,
		&.cm-jzmstrjp-tag-H2,
		&.cm-jzmstrjp-tag-H3,
		&.cm-jzmstrjp-tag-H4,
		&.cm-jzmstrjp-tag-H5,
		&.cm-jzmstrjp-tag-H6,
		&.cm-jzmstrjp-tag-HTML,
		&.cm-jzmstrjp-tag-HEAD,
		&.cm-jzmstrjp-tag-TITLE,
		&.cm-jzmstrjp-tag-BODY,
		&.cm-jzmstrjp-tag-HEADER,
		&.cm-jzmstrjp-tag-NAV,
		&.cm-jzmstrjp-tag-MAIN,
		&.cm-jzmstrjp-tag-ARTICLE,
		&.cm-jzmstrjp-tag-ASIDE,
		&.cm-jzmstrjp-tag-FOOTER,
		&.cm-jzmstrjp-tag-STRONG,
		&.cm-jzmstrjp-tag-EM,
		&.cm-jzmstrjp-tag-B,
		&.cm-jzmstrjp-tag-TH,
		&.cm-jzmstrjp-tag-DT,
		&.cm-jzmstrjp-tag-FORM,
		&.cm-jzmstrjp-tag-SECTION{font-weight: bold;}
		&.cm-bracket {opacity: .85;}
	}
	:not(.cm-meta):not(.cm-keyword):not(.cm-variable):not(.cm-comment):not(.cm-builtin):not(.cm-qualifier):not(.cm-tag){
		&.cm-jzmstrjp-tag-ID:not(#arienai){color: #f33;font-weight: bold;}
	}

	.cm-string[class*="cm-jzmstrjp-tag-"]{-webkit-filter: saturate(40%) brightness(115%); filter: saturate(40%) brightness(115%);}
	//.cm-string[class*="cm-jzmstrjp-tag-"]:not(#arienai){color: rgb(226, 191, 145);}
}

