[data-tag-name="header"]{
	color: #faa !important;
}
[data-tag-name="body"]{
	color: #cee !important;
}
[data-tag-name="div"]{
	color: #0cc !important;
}
[data-tag-name="meta"]{
	color: #aff !important;
}
[data-tag-name="footer"]{
	color: #09f !important;
}
[data-tag-name="a"]{
	color: #f99!important;
}
[data-tag-name="ul"]{
	color: #ff0 !important;
}
[data-tag-name="ol"]{
	color: #9ac !important;
}
[data-tag-name="span"]{
	color: #fd9 !important;
}


[data-tag-name="li"]{
	color: #faa !important;
}
[data-tag-name="p"]{
	color: #0f0 !important;
}

[data-tag-name="main"]{
	color: #0ff !important;
}
[data-tag-name="span"]{
	color: #fcd !important;
}

[data-tag-name="section"]{
	color: #faf !important;
}
[data-tag-name="ht"]{
	color: #7cf !important;
}
[data-tag-name="h1"]{
	color: #faf !important;
}
[data-tag-name="h2"]{
	color: #f3d !important;
}
[data-tag-name="h3"]{
	color: #f0a !important;
}
[data-tag-name="small"]{
	color: #aaf !important;
}

[data-tag-name="script"]{
	color: #afa !important;
}

[data-tag-name="link"]{
	color: #ad6 !important;
}

[data-tag-name="head"]{
	color: #dda !important;
}

[data-tag-name="table"]{
	color: #ef9 !important;
}

[data-tag-name="tbody"]{
	color: #fcb !important;
}

[data-tag-name="thead"]{
	color: #ef8 !important;
}

[data-tag-name="tr"]{
	color: #eae !important;
}

[data-tag-name="th"]{
	color: #f9c !important;
}

[data-tag-name="td"]{
	color: #ff8 !important;
}

[data-tag-name="caption"]{
	color: #fd9 !important;
}

[data-tag-name="figure"]{
	color: #ced !important;
}

[data-tag-name="figcaption"]{
	color: #aaf !important;
}

[data-tag-name="dl"]{
	color: #6cf !important;
}

[data-tag-name="dt"]{
	color: #9df !important;
}

[data-tag-name="dd"]{
	color: #dd9 !important;
}

[data-tag-name="html"]{
	color: #cac !important;
}

[data-tag-name="img"]{
	color: #afc !important;
}

[data-tag-name="title"]{
	color: #fcc !important;
}




